<div class="container">
    <div class="col-md-10 col-md-offset-1 ">
        <div class="row well grey">
            <div class="col-lg-8 col-md-8 col-sm-8 ">
                <img class="img-responsive" [src]="car.image" alt="">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h4>DESCRIPTION</h4>
                <ul>
                    <li> <span>Brand</span> <strong>{{car.brand}}</strong></li>
                    <li> <span>Model</span> <strong>{{car.model}}</strong></li>
                    <li> <span>Year</span> <strong>{{car.year}}</strong></li>
                    <li> <span>Power</span> <strong>{{car.power}}</strong></li>
                    <li> <span>Engine</span> <strong>{{car.engine}}</strong></li>
                    <li> <span>Transmission</span> <strong>{{car.transmission}}</strong></li>
                    <li> <span>Color</span> <strong>{{car.color}}</strong></li>
                    <li> <span>Price</span> <strong>{{car.price}}</strong></li>
                    <li> <span>Description</span> <strong>{{car.description}}</strong></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="create-comment">
            <form (ngSubmit)="addComent(mycomment.value.comment)" #mycomment="ngForm" novalidate>
                <div class="form-group">
                    <input type="text" name="comment" [(ngModel)]="comment" class="form-control">
                </div>
                <input class="button btn btn-success" type="submit">
            </form>
        </div>
        <div>
            <div class="grey comment" *ngFor="let comment of car.comments">
                <div>
                    <p>{{comment.userEmail}}</p>
                    <h2 class="comment-text">{{comment.text}}</h2>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>