<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand homeNav" href="#">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li *ngIf="auth.currentUser"><a routerLink="/cars/create" routerLinkActive="active">New advertertisment</a></li>
            <li *ngIf="auth.currentUser"><a routerLink="/advanced-search">Advanced Search</a></li>
            <li>

            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="auth.currentUser"><a routerLink="/cars/profile" routerLinkActive="active"><strong>Hello, {{auth.currentUserDisplayName}}</strong></a></li>
            <li *ngIf="auth.currentUser"><a routerLink="/home" routerLinkActive="active" (click)="logout()"><strong>Log out</strong></a></li>
            <li *ngIf="!auth.currentUser"><a routerLink="/register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li *ngIf="!auth.currentUser"><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>