<app-home-search (changed)="filterChanged($event)"></app-home-search>
<pagination-controls (pageChange)="page = $event"> </pagination-controls>
<div class="row">
    <div class="col-lg-2 col-md-2 mb-2" *ngFor="let car of (filteredCars | paginate: { itemsPerPage: 12, currentPage: page })">
        <div class="card h-100 orangeBorder">
            <a routerLink="/cars/details/{{car.$key}}" routerLinkActive="active"><img class="card-img-top" [src]="car.image" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a routerLink="/cars/details/{{car.$key}}" routerLinkActive="active"></a>
                </h4>
                <h5>Price: {{car.price| currency:'USD':true:'1.0-2'}}</h5>
                <p class="card-text">{{car.brand}} {{car.model}}</p>
                <p>Location: {{car.location}}</p>
            </div>
        </div>
    </div>
</div>