<div class="search-form-control well">
    <h3 align="center">Search Filter</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="type" class="control-label">Type</label>
            <select name="type" [(ngModel)]="model.type" #locationInput=ngModel (change)="onChange($event)" class="form-control">>
                <option *ngFor="let type of types" [value]="type">
                    {{type}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="location" class="control-label">Location</label>
            <select name="location" [(ngModel)]="model.location" #locationInput=ngModel (change)="onChange($event)" class="form-control">>
                <option *ngFor="let location of locations" [value]="location">
                    {{location}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="brand" class="control-label">Brand</label>
            <select name="brand" [(ngModel)]="model.brand" class="form-control" id="brand" (change)="onChange($event)">
                <option *ngFor="let brand of brands" [value]="brand">
                    {{brand}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="price" class="control-label">Max Price</label>
            <div class="input-group">
                <div class="input-group-addon" id="basic-addon2">$</div>
                <input type="text" class="form-control" name=price (input)="onInput($event)">
            </div>
        </div>
        <p class="text-center">
            <a class="btn btn-info glyphicon glyphicon-search" role="button" (click)="findRecords()"></a>
        </p>
    </form>
</div>