<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form [formGroup]="myDBForm" (ngSubmit)="onUpdateCar(editForm.value)" #editForm="ngForm" novalidate>
                <div class="row">
                    <br>
                    <h3 class="no-top-margin">
                        Edit Car</h3>
                    <hr>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="brand">Brand</label>
                            <select name="brand" class="form-control" id="brand" #brand formControlName="brand" required>
                            <option *ngFor="let brand of brands" [value]="brand">
                              {{brand}}
                            </option>
                          </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" name="model" #model formControlName="model" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="engine">Engine Type</label>
                            <select name="engine" #engine formControlName="engine" class="form-control" required>
                              <option *ngFor="let engine of engines" [value]="engine">
                                {{engine}}
                              </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="power">Power</label>
                            <input type="text" name="power" formControlName="power" #power class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input type="number" name="year" formControlName="year" #year required class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="transmission">Transmission</label>
                            <select name="transmission" formControlName="transmission" #transmission required class="form-control">>
                              <option *ngFor="let transmission of transmissions" [value]="transmission">
                                {{transmission}}
                              </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input type="text" name="color" formControlName="color" #color required class="form-control">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="location">Location</label>
                            <select name="location" formControlName="location" #location required class="form-control">>
                              <option *ngFor="let location of locations" [value]="location">
                                {{location}}
                              </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" name="price" formControlName="price" #price required class="form-control">
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <br>
                    <h3>
                        Description</h3>
                    <div class="clear"></div>
                    <hr>


                    <textarea name="description" formControlName="description" #description required class="pull-left form-control" cols="80" rows="7"></textarea>
                    <div class="clear"></div>
                    <br>
                    <div class="clearfix"></div>
                    <br>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="text" name="image" formControlName="image" #image required class="form-control">
                        </div>
                        <input class="button btn btn-primary" type="submit" [disabled]="!editForm.valid">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>